<div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2>Welcome to All Things Cars!</h2>
                    <p>
                        Let's get started by searching your favorite car!
                    </p>
                    <br />
                </div>
            </div>
        </div>
        <a class="btn btn-danger btn-block" type="button" href="#search"><span class="glyphicon glyphicon-search"></span> Search</a>
</div>